body {
    margin: 0;
    padding: 0;
    background-color: #0c1a25;
}

* {
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    width: 400px;
    height: 600px;
    border: 1px solid #112636;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #0c1a25;
}

.buttonDigit, .buttonFunction {
    width: 90px;
    height: 90px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background: radial-gradient(#0c1a25 40%, #112636);
    box-shadow: 0 0 2px #112636;
    position: relative;
}

.buttonDigit:hover, .buttonFunction:hover{
    transform: scale(1.1);
}

#display {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    overflow: hidden;
}